/*basic start styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
text-decoration: none;
text-transform: capitalize;
scroll-behavior: smooth;

}
body{
    width: 100%;
    height: 100%;
    overflow-x: ;
    overflow-y: ;

}

header{
    width: 100%;
    height: 80px;
z-index: 100;
}
section{
    width: 100vw;
    height: 100vh;
     /* min-height: 700px;  */
    /* max-height: 700px; */
  padding-block: 4rem;
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 80px;
    align-items: center;
    background-color: rgb(238, 238, 237);
    font-family: Righteous-Regular;
    position: fixed;
    top: 0;
    z-index: 50;
}
 @font-face {
    font-family: Cinzel-VariableFont_wght;
    src: url('C:\Users/rupes/OneDrive/Music/Alegreya_Sans_SC,Archivo_Narrow,Cinzel,Dancing_Script,Edu_AU_VIC_WA_NT_Hand,etc/Cinzel/Cinzel-VariableFont_wght.ttf');
}
@font-face {
    font-family: AlegreyaSansSC-Regular;
    src: url('C:\Users/rupes/OneDrive/Music/Alegreya_Sans_SC,Archivo_Narrow,Cinzel,Dancing_Script,Edu_AU_VIC_WA_NT_Hand,etc/Alegreya_Sans_SC/AlegreyaSansSC-Regular.ttf');
}
@font-face {
    font-family: Righteous-Regular ;
    src: url('C:\Users/rupes/OneDrive/Music/Alegreya_Sans_SC,Archivo_Narrow,Cinzel,Dancing_Script,Edu_AU_VIC_WA_NT_Hand,etc/Righteous/Righteous-Regular.ttf');
} 
 
nav a{
width: 130px;
height: 20px;
padding:10px;
/* background-color: rgb(206, 214, 214); */
border-radius: 10px;
text-align: center;
margin-left: 20px;
transition: 0.3s;
position: relative;
text-align: center;
color: #184771;
}
.cancel-img{
    width: 40px;
    height: 40px;

display: none;
}
.cancel-img img{
    width: 100%;
    height: 100%;
}
nav a.active::after{
    content: "";
    width: 5px;
    background-color: black;
    height: 5px;
    border-radius: 50%;
    bottom:  0;
    transition: 1s;
    position: absolute;
    left: 0;
    transform: scale(0.7);
    transform:translateX(30px) ;
    text-align: center;
    opacity: 0.7;
}
 nav a.active2{
    background-color: rgb(250, 243, 235);
    color: black;
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
    box-shadow: 0px 5px 15px rgb(247, 255, 237);
} 
.logo .name{
    background-color: transparent;
    font-size: 24px;
    letter-spacing: 2px;
}
nav a:hover{
    background-color: rgb(213, 213, 208);
}
.menu-icon{
    width: 20px;
    height: 40px;
    border-radius: 5px;
    background-color: rgb(218, 219, 220);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    display: none;
}
.spans{
width: 25px;
height: 5px;
background-color: rgb(127, 132, 136);
border-radius: 50%;
margin-top: 2px;
}

/* page1 */
.container{
    width: 100%;
    height: 100%;
   display: flex;
flex-direction: column;
   align-items: center;
   justify-content: center;
    font-family: Cinzel-VariableFont_wght;
    cursor: pointer;
    color: rgb(10, 10, 86);
}
.home-img{
    width: 50% ;
    height: 50%; 
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.home-img img{
    width: 350px;
    height: 350px;
}
.homepage{

width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: space-between;
}
.home-content{
    width: 50%;
    height: 50%;
     display: flex;
padding:0px 40px;
    justify-content:center ;
    flex-direction: column; 
}
.para{
    line-height: 45px;
    letter-spacing: 2px;
    word-spacing: 2px;
}
.title{
    text-align: center;
    margin-bottom: 3rem;  
}
.span{
transition: 0.5s;
padding: 5px;
word-spacing: 2px;
letter-spacing: 2px;
border-radius: 6px;
}
.span:hover{
    text-decoration: underline;
    text-transform: uppercase;
    color:black;
    background-color: rgb(205, 203, 201);
    font-weight: 100;
    font-family: Righteous-Regular ; 
font-size: 18px;
cursor: pointer;
}

/* page1 end */
/* page2 */
.row{
    display: flex;
    align-items: center;
    font-family: Cinzel-VariableFont_wght;
    justify-content: space-between;
    padding: 0px 0px; 
}
.row .col1,.col2{
width: 45%;
word-spacing: 2px;
letter-spacing: 2px;
line-height: 40px;
margin: 0px 30px;

}
.about-title{
    text-align: center;
    margin-bottom: 3rem;
}
.ab-span{
    transition: 0.6s;
}
.ab-span:hover{
    color: rgb(168, 168, 176);
    
    text-decoration: underline;
    font-size: 18px;
    padding:0px 10px;
    border-radius: 4px;
}

.about-info h3{
    margin: 0.8rem 0px;
}
.col2{
    overflow: hidden;
}
/* second page end */
/* third page */
#skills{
}
.skill-row .skill-col{
padding: 10px 30px;
}
.skill-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.card-rotate1,.card-rotate3,.card-rotate5,.card-rotate7,.card-rotate9{
    width: 180px;
    height: 240px;
    border-radius: 6px;
    position: relative;
transition: 0.5s;

}
.card-rotate2,.card-rotate4,.card-rotate6,.card-rotate8,.card-rotate10{
    width: 100%;
    height: 100%;
    transition: 0.5s;
    position: relative;
     transform-style: preserve-3d; 
    border-radius: 6px;
    cursor: pointer;
    background-color:;
}
/* .card-rotate2:hover{
    transform: rotateY(180deg);
} */
  .card-rotate2.click1{
    transform: rotateY(180deg);

 } 
 .card-rotate4.click2{
    transform: rotateY(180deg);

 }
 .card-rotate6.click3{
    transform: rotateY(180deg);

 }
 .card-rotate8.click4{
    transform: rotateY(180deg);

 }
 .card-rotate10.click5{
    transform: rotateY(180deg);

 } 
 .card-inner1,.card-inner2,.card-inner3
 ,.card-inner4,.card-inner5,.card-inner6,.card-inner7,.card-inner8,.card-inner9,.card-inner10{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 6px;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Cinzel-VariableFont_wght;
    letter-spacing: 3px;
    font-family: Righteous-Regular ;
    font-family: AlegreyaSansSC-Regular;
    text-transform: uppercase;
    box-sizing: border-box;
    border: 2px solid rgb(246, 241, 241);
     box-shadow:inset -3px -3px 2px rgba(216, 216, 216, 0.3),
    5px 5px 5px rgba(0, 0, 0, 0.1),
    10px 10px 5px rgba(0, 0, 0,0.1);  
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #f6f5f5;
     /* filter:drop-shadow( -3px -3px 2px rgba(151, 151, 151,0.3))
    drop-shadow( 5px 5px 5px rgba(0, 0, 0,0.1))
   drop-shadow( 10px 10px 10px rgba(0, 0, 0,0.1)); 
   background-color: transparent;  */
    
}
h4,span{
text-transform: uppercase;
font-family: Cinzel-VariableFont_wght;
letter-spacing: 3px;

color: rgb(134, 131, 127);
padding-top: 10px;
font-family: Righteous-Regular ;
font-size: 20px;
}
h3{
text-transform: uppercase;
}
span{
    margin-left: 15px;
}
 .html5,.js,.jq{
    width: 30px;
    height: 30px;
    color: rgb(227, 227, 81);
padding: 0;
position: absolute;
top: 0;
right: 0;
} 
.css{
    color: blue;
    width: 30px;
    height: 30px;
    position: absolute;
top: 0;
right: 0;
}
.card-inner1{

background-color:rgb(241, 241, 241);
/* border-bottom: 2px solid rgb(243, 213, 158); */

}

.card-inner2{
  transform: rotateY(180deg);
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    position: relative;
}
.card-inner3{
    background-color:rgb(241, 241, 241);
}
.card-inner4{
    transform: rotateY(180deg);
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    position: relative;
}
.card-inner5{
    background-color:rgb(241, 241, 241);
}
.card-inner6{
    transform: rotateY(180deg);
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    position: relative;
}
.card-inner7{
    background-color:rgb(241, 241, 241);
}
.card-inner8{
    transform: rotateY(180deg);
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    position: relative;
}
.card-inner9{
    background-color:rgb(241, 241, 241);
}
.card-inner10{
    transform: rotateY(180deg);
    flex-direction: column;
    background-color:rgb(241, 241, 241);
    position: relative;
}
.card-inner2 .circle1,.card-inner4 .circle2,
.card-inner6 .circle3,.card-inner8 .circle4,.card-inner10 .circle5{
    width: 100px;
    height: 100px;
    background-color: wheat;
    border-radius: 50%;
    background: conic-gradient( rgb(255, 255, 255)0deg,#948c8c 30deg);
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-direction: ;
    justify-content: center;
    text-align: center;
    z-index: 1;
    box-shadow:inset -5px -5px 9px #ffffff73,inset 5px 5px 7px #e4e1e1;
    background-color:rgb(251, 251, 251);
    color: rgb(80, 76, 76);
}
.circle1::after,.circle2::after,.circle3::after,.circle4::after,.circle5::after{
    content: "";
    position: absolute;
    width: 120px;
    height: 120px;
    box-shadow: -5px -5px 9px #ffffff73, 5px 5px 7px #e4e1e1;
    z-index: 0;
  
    border-radius: 50%;
}
.card-inner1{
    /* border: 2px solid rgb(243, 213, 158); */
}
.img{
    width: 50px;
    height: 50px;
    position: absolute;
bottom:  80%;
left: 35%;
border-radius: 50%;
cursor: pointer;

} 
.img .css{
color: blue;
width: 80%;
height: 80%;
}
.img .html{
    width: 100%;
    height: 100%;
    color:  rgb(250, 226, 68);
}
.img .js{
    width: 100%;
    height: 100%;
    color:  rgb(250, 226, 68);
}
.arrow2,.arrow{

    padding: 10px 10px;
}
.arrowbox,.arrowbox2,.arrowbox3,.arrowbox4,.arrowbox5{
    width: 40px;
    position: absolute;
    bottom: 0;
    right:  0;
    height: 40px;
    background-color: aliceblue;
    transition: 0.5s;
}
.back,.back2,.back3,.back4,.back5{
    position: absolute;
    bottom:  0;
    right: 0;
    padding:px 20px;
}

/* third page end */
/* page 4 */
.contact-info{
    width: 400px ;
    height: 150px;
    background-color: #e4e1e1;
    border-radius: 6px;
}
.contact-inner span{
    font-size: 15px;
    line-height: 30px;
}
.contact-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.contact-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
}
.inputbox1{
    width: 400px;
    height: 400px;
    background-color: #f6f5f5;
    border-radius: 6px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  box-shadow: inset -5px 9px #ffffff73, 5px 5px 7px #e4e1e1;
}
.inputbox2{
    position: absolute;
    width: 380px;
    height: 380px;  
    background-color: #f6f5f5;
    /* box-shadow: -5px 9px #e5e1e173, 5px 5px 7px #e4e1e1; */
}
form{
    margin: 50px 0px;
}
.field{
    position: relative;
    width: 100%;
    height: 70px;
}
inputbox2 .field{
    width: 100%;
    position: relative;
    margin-top: 10px;
}
.inputbox2 .field input,
.field textarea{
    width: 100%; 
    padding: 10px 0px;
    font-size: 18px;
    font-family: PlaywriteUSModern-VariableFont_wght;
    margin: 10px 0px;
    border: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    resize: none;
    outline: none;
}
.field span{
    position: absolute;
    left: 0;
    padding: 5px 0px;
    font-size: 16px;
    font-family: PlaywriteUSModern-VariableFont_wght;
    margin: 10px 0px;
    transition: 0.6s;
    color: rgb(37, 34, 34);
}
.field input:focus~span,
.field textarea:focus~span,
.field input:valid~span,
.field textarea:valid~span{
    color: rgb(96, 182, 231);
    font-size: 14px;
    transform: translateY(-20px);
    font-weight: 600;
    border-bottom: #5934c7;
}
.field input:focus,
.field textarea:focus{
    
border-bottom: 2px solid  rgb(96, 182, 231);
transition: 0.4s;
}
.inputbox2 .btnbox1{
  width: 140px;
  height: 40px;
  background-color: rgb(146, 121, 88);
  border-radius: 4px; 
    position: relative;
    margin: 50px 110px;
    overflow: hidden;
    background-color: transparent;

}
.btnbox1 button{
position: absolute;
top: 0;
   margin: 2px;
    width: 115px;
    height: 35px;
    background-color: rgb(156, 199, 236);
    border: none;
    outline: none;
    border-radius: 4px;
    color: rgb(6, 8, 10);
    font-size: 20px;
    /* box-shadow: 0px 5px 10px rgba(123, 187, 230, 0.658); */
    transition: 0.6s ease-in;
}
.btnbox1 button:hover{
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.55);
}
/* page 4 end */

@media only screen and (max-width:840px){
.menu-icon{
    display: flex;
     position: fixed;
    top:   0;
    right:  0;
    margin: 50px;
    z-index: 50;
}
body{
    overflow-y: visible;
    margin: 0;
padding: 0;
width: 100%;
height: 100%;
}
nav{
    position: relative;
    top:  ;
    width: 100%;
}
 .nav-list{
    display: flex;
    position: fixed;
    flex-direction: column;
    top: 0;
    background-color: rgb(219, 221, 222);
    width: 100%;
    height: 80vh;
align-items: center;
justify-content: center;
font-size: px;
display: none;
transition: 0.5s;
z-index: 50;
} 

nav a:hover{
    background-color: transparent;
}
nav a{
    margin-top: 30px;
    font-size: 21px;
    text-align: center;
    width: 220px;
    height: 50px;
}
nav a.active2{
    font-size: 25px;
}
nav a.active{
    font-size: 25px;
background-color: rgb(245, 234, 220);
}
.cancel-img{
    position: absolute;
    bottom:  0;
    right: 0;
    width:100%;
    height: 30px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.active3{
    display: flex;
    
}

.cancel-img img{
    background-color: rgb(249, 250, 250);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    padding: 5px;
}
}
@media only screen and (min-width:750px) and (max-width:900px){
    .row{
        display: flex;
        
        }
        .row .col1,.col2{
            width: 45%;
            word-spacing: 2px;
            letter-spacing: 2px;
            line-height: 40px;
            margin-bottom: 30px;
            }
            .skill-row{
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;
                flex-wrap:wrap;
    
            }
            .skill-col{
                margin: 10px 0px;
            }
           section{
    
        min-height: 800px;
      }
      .homepage{
          display: flex;
  
  
      }
  .home-content{
  
  }
  
  #about{
      min-height: 800px;
  }
  .row{
      width: 100%;
  
  }
  .col1,.col2{
      width: 80%;
  
  }
  #skills{
      min-height: 800px;
  }
  .skill-row{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .skill-col{
  
  
  }
  .contact-box{
    display: flex;
    flex-direction: column;
 }
 .contact-info,.inputbox1{
    margin-top: 30px;
 }
 #contact{
    min-height: 900px;
}
}
@media only screen and (min-width:600px) and (max-width:750px){
.skill-row{
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;
                flex-wrap:wrap;
}    
.skill-col{
    
}
.contact-box{
    display: flex;
    flex-direction: column;
 }
 .contact-info,.inputbox1{
    margin-top: 30px;
 }
 
}

@media only screen and (min-width:850px) and (max-width:1024px) {
    .row .col1,.col2{
        width: 50%;
        word-spacing: 2px;
        letter-spacing: 2px;
        line-height: 40px;
        margin-bottom: 30px;
        }
        .row{
gap: 70px;
        }
        .skill-row{
            display: flex;
            flex-direction: row;

            align-items: center;
            justify-content: center;
            flex-wrap:wrap;

        }
}
@media only screen and (min-width:350px) and (max-width:600px){
  .homepage{
    display: flex;
    flex-direction: column;
    
  }  
  .home-content{
    width: 100%;
    text-align: center;
  }
  .home-img{
    width: 100%;
    position: relative;

  }
  .para{

  }
  .home-content,.home-img{
  margin: 30px;
  }
  .home-img img{
    

  }
  
  .row{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap;
  }
    .row .col1,.col2{
        width: 85%;
        word-spacing: 2px;
        background-color: #e4e1e1;
        letter-spacing: 2px;
        line-height: 40px;
        margin-bottom: 30px;
        padding: 10px;
        }
        .skill-row{
            display: flex;
            flex-direction: row;
         align-items: center;
            justify-content: center; 
            flex-wrap:wrap;

        }
        .skill-col{
            margin: 10px 0px;
        }
     .contact-box{
        display: flex;
        flex-direction: column;
     }
     .contact-info,.inputbox1{
        margin-top: 30px;
     }
     #contact{
        min-height: 1000px;
    }    
    .contact-info{
        width: 100%;
        background-color: transparent;
    
    }
    
    .inputbox1,.inputbox2{
        width: 100%;
    
    }
    .inputbox2 .field input span{
        padding-left: 40px;
    }
    }   
@media only screen and (min-width:900px){
.skill-row{
                display: flex;
                flex-direction: row;

                align-items: center;
                justify-content: center;
                flex-wrap:wrap;
}
.skill-col{
    margin-top: 40px;
}
.contact-box{
    width: 95%;
    display: flex;
    flex-direction: ;

 }
 .contact-info,.inputbox1{
    margin-top: 30px;
 }
}
 @media only screen and (min-width:400px) and (max-width:600px){
    section{
    
        min-height: 800px;
      }
      .homepage{
          display: flex;
  
  
      }
  .home-content{
  
  }
  
  #about{
      min-height: 1300px;
  }
  .row{
      width: 100%;
  
  }
  .col1,.col2{
      width: 85%;
  
  }
  #skills{
      min-height: 1500px;
  }
  .skill-row{
  display: flex;
  align-items: center;
  justify-content: center;
  }
  .skill-col{
  
  
  }  
} 
/* @media only screen and (max-width:350px){
    .homepage{
        display: flex;
        flex-direction: column;
        margin:0px 100px;
    padding:0px 200px;
    text-align: center;

      }  
      .home-content{
        width: 100%;
        min-width: 350px;
        
      }
      .home-img{
        width: 100%;
        position: relative;
        min-width: 350px;
    
      }
      .para{
      width:100%;
      }
      nav{
        width: 100%;
        background-color: ;
        min-width: 350px;
      }
   
} */
@media only screen and (min-width:600px) and (max-width:850px){
    .homepage{
        display: flex;
        flex-direction: column;
        
      }  
      .home-content{
        width: 100%;
      }
      .home-img{
        width: 100%;
        position: relative;
    
      }
      .para{
      width:;
      }
      .row{
        display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
        }
        .row .col1,.col2{
            width: 80%;
            word-spacing: 2px;
            letter-spacing: 2px;
            line-height: 40px;
            margin-bottom:30px;
            }
            .contact-box{
                display: flex;
                flex-direction: column;
             }
             .contact-info,.inputbox1{
                margin-top: 30px;
             }
             
}
@media only screen and (min-width:700px){
section{
    /* height: 100vh; */
  max-height:850px ;
}
}
@media only screen and (max-width:400px){
    section{
    
      min-height: 600px;
    }
    .homepage{
        display: flex;


    }
.home-content{

}

#about{
    min-height: 1200px;
}
.row{
    width: 100%;

}
.col1,.col2{
    width: 85%;

}
#skills{
    min-height: 1500px;
}
#contact{
    min-height:900px;
}
#contact{
    /* min-height: 1500px; */
}
.skill-row{
display: flex;
align-items: center;
justify-content: center;
}
.skill-col{


}
    }
    